<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29672HactarSoftware.Tome" Publisher="CN=83265F06-86A2-4BCA-8797-9790954637C7" Version="1.1.0.2" />
  <Properties>
    <DisplayName>Tome</DisplayName>
    <PublisherDisplayName>Hactar Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Goodreads8.App">
      <VisualElements DisplayName="Tome" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Tome is a fully featured client for the social book website Goodreads.com" ForegroundText="light" BackgroundColor="#bd1e1e" ToastCapable="true">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\LogoLarge.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#bd1e1e" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>